.childhidden {

	display: none;

}

.childvisible {
    
    display: inline;
    
}

#addbtn {
    
    display: none;
    
}

#removebtn {
    
    display: none;
    
}

th {
    
    text-align: left;
    
}